---
---

@import "{{ site.theme }}";

body {
	background-color: #262626
}


header {
	border-right: 1px solid #e5e5e5;
}

header ul {
	background: none; 
	border: none; 
	height: 60px;
	width: 270px;
}

header li {
	padding: 6px 0 6px;
	height: 44px; 
}

h1, h2, h3, h4, h5, h6 { 
	color: #e1e1e1; 
}

a { 
	color: #e1e1e1; 
}

a:hover, a:focus { 
	color: #fff;
}

p {
	color: #a2a2a2;
}

footer p {
	color: #727272;
}

.svg-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  fill: #fff;
  padding-right: 5px;
  vertical-align: text-top; 
}

.social-media-list {
	margin: auto;
}

.section-title {
  background-color: #262626;
  color: #e1e1e1;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font: 15px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
}

.active, .section-title:hover {
  background-color: #565656;
  color: #fff;
}

.section-title:after {
  content: 'expand'; 
  font-size: 10px;
  text-align: center;
  float: right;
  margin-top: 4px;
  margin-left: 5px;
  color: #fff;
}

.active:after {
  content: "collapse"; 
}

.section-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
} 


@media print, screen and (max-width: 960px) {
	header {
		border-right: none ;
	}
}
