<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  {%- include head.html -%}
  <body>
    <div class="wrapper">

      {%- include header.html -%}

      <section>
      {% assign pages = site.pages | sort: 'position'%}
      {% for page in pages %}
        {% if page.position %}
          {{ page.title }}
          {{ page.content }}
        {% endif %}
      {% endfor %}
      <!-- {{ page }} -->
      <!-- {{ page.title }} -->
      <!-- {{ page.content }} -->
      <!-- {{ content }} -->
      <!-- i love my baby so much <3 -->
      </section>
      

      {%- include footer.html -%}

    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    {% if site.google_analytics %}
    {%- include google-analytics.html -%}
    {% endif %}

  </body>
</html>